/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  background-color: #EFEFEF;
  font-family: "Lato";
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #222222;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  font-size   : 150%;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 120px;
  }
}

.main .page-header {
  margin-top: 0;
}

#readme {
  font-size: 150%;
  padding: 5%;
  padding-left: 10%;
  transition: linear 150ms all;
  -webkit-transition: linear 150ms all;
}

h1 {
  font-size: 200%;
}

.reslink {
  color: #FFFFFF;
  transition: linear 150ms all;
    -webkit-transition: linear 150ms all;
}

.reslink:hover {
  background-color: #222222 !important;
  color: #92C0CC;
  transition: linear 150ms all;
    -webkit-transition: linear 150ms all;
}

li {
    color: #fff;
}

.result {
  color: #FFF;
}

#info {
  padding-left: 5%;
  width: 85%;
  font-size: 115% !important;
}

#info b {
  font-size: 110%;
}

.dlink {
  display: inline;
}

.dlink b {
  padding-right: 5%;
}

.gitim {
  float: right;
  position: relative;
  margin-top: 35px;
  margin-right: 5%;
  width: 10%;
  transition: linear 150ms all;
    -webkit-transition: linear 150ms all;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 9001 !important;
}

.gitim:hover {
  background-color: #92C0CC;
  transition: linear 150ms all;
    -webkit-transition: linear 150ms all;
}

.gitlink {
  display: inline !important;
  padding-right: 5%;
  transition: linear 150ms all;
    -webkit-transition: linear 150ms all;
}

.gitlink:hover {
  color: #222222 !important;
  background-color: #222222 !important;
  transition: linear 150ms all;
    -webkit-transition: linear 150ms all;
}

.searchlink {
  display: inline !important;
  padding-right: 5%;
  transition: linear 150ms all;
    -webkit-transition: linear 150ms all;
}

.searchlink:hover {
  color: #222222 !important;
  background-color: #222222 !important;
  transition: linear 150ms all;
    -webkit-transition: linear 150ms all;
}


.fa-angle-left {
  font-size: 125%;
  padding-right: 2%;
}

.fa-angle-right {
  font-size: 125%;
  padding-right: 3%;
}

.fa-star {
  padding-left: 3%;
  padding-right: 5%;
}

.fa {
  font-size: 150%;
}

.col-md-2 {
  width:  26%;
}

#readme {
  width: 100%;
  opacity: 0;
}


#readme li {
  color: #000000 !important;
    transition: linear 150ms all;
    -webkit-transition: linear 150ms all;
}

.dlink {
  min-width: 50% !important;
}

.dleft {
  float: left !important;
}

.dright {
  float: right !important;
}

