body {
    padding-top: 50px;
    background-color: #EFEFEF;
    font-family: "Open Sans";
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #222222;
    border-right: 1px solid #eee;
}

.nav-sidebar {
    margin-bottom: 20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    font-size   : 150%;
}


.main .page-header {
    margin-top: 0;
}

h1 {
    font-size: 200%;
}

.suggestion-row {
    padding: 5%;
    padding-bottom: 0;
}

.readme-link {
    font-size: 150%;
    color: white;
}

.readme-link:hover {
    color: #6ED3FF !important;
    text-decoration: none;
}

.result {
    margin-bottom: 35px;
}

.description {
    font-size: 125%;
    color: white !important;
}

.icon-link {
    color: white !important;
}

.icon-link:hover {
    color: #6ED3FF !important;
}

.logistics {
    color: white !important;
    font-size: 150%;
}

.left-log {
    float: left;
}

.right-log {
    float: right;
}

#readme {
    font-size: 150%;
    padding: 5%;
    transition: linear 150ms all;
    -webkit-transition: linear 150ms all;
    width: 100%;
    opacity: 0;
}

#readme li {
    color: #000000 !important;
    transition: linear 150ms all;
}

.sidebar {
    background-color: #222222;
}


@media screen and (min-width: 378px) {
    .navbar-brand {
        font-size: 250%;
        padding-top: 15%;
    }
}

.navbar-form .form-control {
    font-size: 150%;
    height: 50px;
}

@media screen and (min-width: 430px) {
    .navbar-form .form-control {
        width: 400px;
    }
}


@media screen and (min-width: 800px) {
    .navbar-form .form-control {
        width: 600px;
    }
}

@media screen and (min-width: 1200px) {
    .navbar-form .form-control {
        width: 800px;
    }
}

body {
    overflow-x: hidden;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
     border-color: rgba(0, 0, 0, 0);
}

