
body {
    font-family: 'Dosis',serif;
}

#search {
    position: fixed;
    width: 60%;
    left: 15%;
    font-size: 200%;
    top: 50%;
    border: none;
    padding-right: 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, .5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, .5);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, .5);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 150ms linear;
    -webkit-transition: all 150ms linear;
}

#search:focus {
    transition: all 150ms linear;
    -webkit-transition: all 150ms linear;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(84, 170, 255, 1);
    -moz-box-shadow: 0px 0px 50px 0px rgba(84, 170, 255, 1);
    box-shadow: 0px 0px 50px 0px rgba(84, 170, 255, 1);
}

div h1 {
    margin-top: 20%;
    text-align: center;
    font-size: 100px;
    font-weight: lighter;
}

h1:hover {
    transform: scale(1.25, 1.25);
    -webkit-transform: scale(1.25, 1.25);
    transition: all 150ms linear;
    -webkit-transition: all 150ms linear;
}

#submit {
    position: fixed;
    left: 77.5%;
    width: 15%;
    top: 50%;
    font-size: 200%;
}