@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster'), url(http://fonts.gstatic.com/s/lobster/v9/NIaFDq6p6eLpSvtV2DTNDQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

.header {
    font-size: 600%;
    padding-top: 2%;
    border-bottom: 1px solid darkgrey;
    font-weight: lighter;
    font-family: 'Lobster', cursive;
    margin-bottom: 35px;
}

@media (max-width: 768px) {
    .header {
        font-size: 300%;
    }
}

#repo-search {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.back-button {
    padding-top: 10px;
    font-size: 80%;
}

.input-header {
    padding-top: 5%;
}

.section {
    font-size: 120%;
    margin-bottom: 35px;
}

.footer-link {
    margin: 5px;
    font-size: 120%;
    padding-bottom: 15px;
}

a {
    color: black;
    opacity: 0.6;
}

a:hover {
    text-decoration: none;
    color: black;
    opacity: 1.0;
}

.or-sep {
    font-family: 'Lobster', cursive;
    margin-bottom: 10px;
}

.result {
    font-size: 140%;
    margin: 20px 10px 5px 5px;
    word-wrap: break-word;
}

@media (min-width: 768px) {
    .result {
        opacity: 0.6;
    }


    .result:hover {
        opacity: 1.0;
    }

    .result-selected {
        opacity: 1.0;
    }
}

.bottom-result {
    border-bottom: 1px solid darkgrey;
    margin-bottom: 5px;
    margin-top: 5px;
}

@media (min-width: 768px) {
    .results {
        border-right: 1px solid darkgrey;
    }
}

.kare-panel {
    overflow-y: scroll;
    height: 72vh;
}

.section-header {
    font-size: 200%;
    width: 100%;
    border-bottom: 1px solid darkgrey;
    margin-bottom: 35px;
}

.readme-title {
    font-size: 180%;
    font-family: 'Lobster', cursive;
}

.readme {
    padding-left: 23px;
    font-size: 140%;
}

.hide {
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
}

body {
    background-color: #f5f5EE;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

.ui-menu-item, .ui-menu {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-radius: 2px;
}

.ui-state-focus {
    background-color: grey;

}

.banner {
    opacity: 1.0;
}